{{ define "header.gohtml" }}
<header class="app-header">
    <a class="brand" href="/">
        <div class="brand-mark"><img src="/static/go-doc-40.png"/> </div>
        <span>
            <strong>go-doc</strong>
            <small>typed contracts for Go templates</small>
        </span>
    </a>
    <nav class="top-nav">
        <a href="https://github.com/donseba/go-doc">GitHub</a>
    </nav>
</header>
{{ end }}
