{{/*
@dot github.com/donseba/go-doc/examples/table.User
*/}}
<tr id="user-{{ .ID }}">
    <td>{{ .ID }}</td>
    <td>{{ .Name }}</td>
    <td>{{ .Email }}</td>
    <td>{{ .Role }}</td>
    <td>{{ .Status }}</td>
</tr>
